@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Reset some default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto', Arial, sans-serif:'Courier New';
    line-height: 1.6;
    color: #333
    background-color: #f4f4f4;
}    

:root {
    --primary-color: #55868C;
    --secondary-color: #75485E;
    --accent1-color: #9CFC97;
    --accent2-color: #F9E0D9;

    --heading-font: '_____' , serif;
    --paragraph-font: '_____' , serif;

    --nav-background-color: #12393b;
    --nav-link-color: #4dd927;
    --nav-hover-link-color: #3893c7;
    --nav-hover-background-color: #1ebc84;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    background-color: #555
}

.hero {
    background: #ddd;
    padding: 2rem;
    text-align: center;
    float: right;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero h1 {
    margin-top: 1rem;
}

main {
    padding: 2rem;
}

article {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}


footer {
    text-align: center;
    padding: 1rem 0;
    background: #333
    color: #fff
}

.social-media-icons {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
