/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */

header {
    background-color: skyblue;
    padding: 10px;
}

nav a {
    color: #fff;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section Styles */

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

/* Article Styles */

article {
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
}

article p {
    margin-bottom: 20px;
}

/* Adventure Section Styles */

.adventure-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adventure-images figure {
    margin: 0;
    text-align: center;
}

.adventure-images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.adventure-images figcaption {
    margin-top: 10px;
}


.rafting {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}

/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.sociallinks {
    margin-top: 10px;
}

.sociallinks a {
    margin: 0 5px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 20px 0;
    }
}
