@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/*  Reset some default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto', Arial, sans-serif,'Courier New';
    line-height: 1.6;
    color: #333
    background-color; #007bb5;}    

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    background-color: #555
}

.hero {
    background: #ddd;
    padding: 2rem;
    text-align: center;
    float: right;
}

.hero img {
    max-width: 70%;
    height: auto;
    display: block
    margin-bottom: 20px;
    padding: 10px;
}

.hero h1 {
    margin-top: 1rem;
}

main {
    padding: 2rem;
}

article {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background: #e2d4d4;
    color: #130505;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
