* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: hotpink;
  --pane-padding: 5px 42px;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

main {
    max-width: 840px;
    margin: 0 auto;  /* Center the main content horizontally */
  }
  
  aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem; 
    background-color: #eee;
    color: #333;
    text-align: center;
  }
  
  aside img {
    width: 200px;
    height: auto;
    position: relative;
  }
  
  aside h2 {
    position: absolute;
    top: 700px;
    left: 150px;
    color: darkblue;
  }
  main img {
    width: 150px;
    height: auto;
    float: right;  /* Make the profile image float to the left */
    margin: 0 0 1rem 1rem;  /* Add margin to the profile image */
  }
  
  p { padding: 0;}
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }

  /* Class Selectors */
  .box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    position: center;
  }

 
  