** {
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: steelblue;
}

h1 {
    color: steelblue;
    padding: .5rem
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: left;
}

main img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30 px gray;
    float: right;
}

p { 
    padding: 0;
    text-decoration-color: rgb(14, 14, 2);
    text-emphasis-color: violet;
    color: hsl(0, 82%, 2%);
}
    
aside {
    width: 20rem;
    margin: .1rem;
    border: 1px solid rgba(0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    text-emphasis-color: #110101;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 0%;
    left: 50px;
    translate:(-50%, -50%); /* adjust positioning based on element size */
    text-align: center;
    color: rgb(1, 31, 54);
}

.box {
    margin: 1rem;
    border: 1px solidrgba(0,0,0,.1);
    padding: 1rem;
    background-color: #f7d1d1;
    color: #ddd;
}

  main img {
    width: 150px;
    height: auto;
}

footer {
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: .2rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: .2rem;
    background-color: rgb(131, 186, 231);
    color: rgb(237, 238, 240)   
}